<!DOCTYPE html>
<html>
<head>
    <title>Our Services</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>Services</header>

    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="services.html">Services</a>
        <a href="contact.html">Contact</a>
    </nav>

    <div class="container">
        <h1>Our Services</h1>
        <p>Here you will describe your services.</p>
    </div>

</body>
</html>